<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=LOCAL;PASSWORD=mobilegs;PERSIST SECURITY INFO=True;USER ID=MOBILEGS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=LOCAL;PASSWORD=mobilegs;PERSIST SECURITY INFO=True;USER ID=MOBILEGS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Model12.csdl|res://*/Model12.ssdl|res://*/Model12.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=LOCAL;PASSWORD=mobilegs;PERSIST SECURITY INFO=True;USER ID=MOBILEGS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>